.main {
  .container {
    width: 100%;
  }

  &__inner {
    padding: 10px 0;
    display: flex;
    gap: 15px;

    &-link {
      font-size: 14px;
      font-weight: 400;
      line-height: 16.71px;
      text-align: left;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__right {
      &-list {
        display: flex;
        flex-wrap: wrap;
        width: 393px;
        gap: 10px;
        background-color: #fff;
        padding: 20px 0;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }

      &-item {
        width: 181px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
      }

      &-text {
        max-width: 170px;
        padding-top: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 14.64px;
        text-align: center;
      }
    }

    &__left {
      background: linear-gradient(180deg, #000000d6 10%, #00000000 90%),
        url(../../images/qozondagi-osh.png) no-repeat;
      background-size: cover;
      width: 847px;
      height: 368px;

      background-position: center;

      display: flex;
      justify-content: center;
      padding-top: 33px;

      &-text {
        color: #fff;
        font-size: 2vw;
        font-weight: 700;
        line-height: 33.41px;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    .container {
      width: 100%;
    }

    &__inner {
      padding: 10px 0;
      display: flex;
      gap: 15px;

      &-link {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.71px;
        text-align: left;
      }
    }

    &__wrap {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      &__right {
        margin-top: 20px;
        &-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          gap: 20px;
          background-color: #fff;
          padding: 20px 0;
          border-radius: 12px;
        }

        &-item {
          width: 181px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          text-align: center;
        }

        &-text {
          max-width: 170px;
          padding-top: 10px;
          font-size: 14px;
          font-weight: 500;
          line-height: 14.64px;
          text-align: center;
        }
      }

      &__left {
        background: linear-gradient(180deg, #000000d6 1%, #00000000),
          url(../../images/qozondagi-osh.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 378px;

        background-position: center;

        display: flex;
        justify-content: center;
        padding-top: 33px;

        &-text {
          color: #fff;
          font-size: 2vw;
          font-weight: 700;
          line-height: 33.41px;
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 422px) {
  .main {
    .container {
      width: 100%;
    }

    &__inner {
      padding: 10px 0;
      display: flex;
      gap: 15px;

      &-link {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.71px;
        text-align: left;
      }
    }

    &__wrap {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      &__right {
        margin-top: 20px;
        &-list {
          background-color: #fff;
          padding: 20px 0;
          border-radius: 12px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          gap: 20px;
        }

        &-item {
          width: 281px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          text-align: center;
        }

        &-text {
          padding-left: 20px;
          max-width: 200px;
          padding-top: 10px;
          font-size: 14px;
          font-weight: 500;
          line-height: 14.64px;
          text-align: left;
        }
      }

      &__left {
        background: linear-gradient(180deg, #000000d6 1%, #00000000),
          url(../../images/qozondagi-osh.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 378px;

        background-position: center;

        display: flex;
        justify-content: center;
        padding-top: 33px;

        &-text {
          color: #fff;
          font-size: 3vw;
          font-weight: 700;
          line-height: 33.41px;
          text-align: left;
        }
      }
    }
  }
}
